.square-input {
  border: 1px solid #999;
  float: left;
  font-size: 7px;
  font-weight: bold;
  line-height: 34px;
  width: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}